banned-ips.json
banned-players.json
cache
cache/**
eula.txt
libraries
libraries/**
logs
ops.json
*.jar
save
version_history.json
versions
versions/**
whitelist.json
daemon/daemon.log
plugins/squaremap/data
plugins/squaremap/data/**
plugins/CoreProtect/database.db
plugins/bStats
plugins/bStats/**
.console_history
plugins/squaremap/locale
plugins/squaremap/locale/**
plugins/squaremap/web
plugins/squaremap/web/**
plugins/CoreProtect/.license
plugins/DiscordSRV/config.yml
plugins/DiscordSRV/linkedaccounts.json
plugins/DiscordSRV/discord-console-logs
plugins/DiscordSRV/discord-console-logs/**
