*.jar
*.old
.console_history
.gitconfig
.ssh/**
banned-ips.json
banned-players.json
cache
cache/**
daemon/daemon.log
eula.txt
libraries
libraries/**
logs
ops.json
plugins/Chunky/tasks/**
plugins/CoreProtect/.license
plugins/CoreProtect/database.db
plugins/Pl3xMap/layers
plugins/Pl3xMap/layers/**
plugins/Pl3xMap/markers
plugins/Pl3xMap/markers/**
plugins/Pl3xMap/web
plugins/Pl3xMap/web/**
plugins/bStats
plugins/bStats/**
save
version_history.json
versions
versions/**
whitelist.json

