.fabric
.fabric/**
cache
cache/**
config/chunky/tasks
config/chunky/tasks/**
libraries
libraries/**
logs
logs/**
mods
mods/**
save
save/**
versions
versions/**
banned-ips.json
banned-players.json
eula.txt
ops.json
whitelist.json
*.jar
*.bak
*.swp
