[Unit]
Description=Minecraft Server [NRMC]
Wants=network-online.target
After=network-online.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/opt/minecraft/nrmc
ExecStart=/usr/bin/java -Xms2048M -Xmx8192M -jar fabric-server.jar --nogui --universe save
Sockets=minecraft.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

