[Unit]
Description=NRMC server
Wants=network.target
After=network.target

[Service]
Type=simple
Sockets=nrmc.socket
WorkingDirectory=%h/nrmc
ExecStart=%h/nrmc/systemd/start.sh
ExecStop=%h/nrmc/systemd/stop.sh
StandardInput=socket
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
